<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>payment</id>
<modtype>1</modtype>
<auther>官方</auther>
<title>支付</title>
<modname>支付</modname>
<ver>3.0</ver>
<description>支付系统，支持支付宝、微信、贝宝等支付方式。</description>
<itemid>2</itemid>
<ordernum>93</ordernum>
<composer>usualtool/ut-payment</composer>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>支付设置:index.php,支付日志:log.php,支付示例:example.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_pay`;
CREATE TABLE `cms_pay` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ali_appid` varchar(50) DEFAULT NULL,
  `ali_private_key` text,
  `ali_public_key` text,
  `ali_notify_url` varchar(250) DEFAULT NULL,
  `ali_return_url` varchar(250) DEFAULT NULL,
  `wx_appid` varchar(100) DEFAULT NULL,
  `wx_mchid` varchar(50) DEFAULT NULL,
  `wx_key` varchar(200) DEFAULT NULL,
  `wx_secert` varchar(250) DEFAULT NULL,
  `wx_notify_url` varchar(250) DEFAULT NULL,
  `pp_mod` varchar(20) DEFAULT 'sandbox',
  `pp_clientid` varchar(250) DEFAULT NULL,
  `pp_secret` varchar(250) DEFAULT NULL,
  `pp_return_url` varchar(250) DEFAULT NULL,
  `pp_notify_url` varchar(250) DEFAULT NULL,
  `url_ok` varchar(250) DEFAULT NULL,
  `url_no` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_pay_log`;
CREATE TABLE `cms_pay_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` varchar(20) DEFAULT NULL,
  `form` int(11) DEFAULT '1',
  `state` int(11) DEFAULT '0',
  `posnum` varchar(200) DEFAULT NULL,
  `paynum` varchar(200) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `postime` datetime DEFAULT NULL,
  `paytime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
INSERT INTO `cms_pay` VALUES (1, NULL, NULL, NULL, '?m=payment&p=notify&lb=alipay', '?m=payment&p=return&lb=alipay', NULL, NULL, NULL, NULL, '?m=payment&p=notify&lb=wechat', 'sandbox', NULL, NULL, '?m=payment&p=return&lb=paypal', '?m=payment&p=notify&lb=paypal', NULL, NULL);]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_pay`;DROP TABLE `cms_pay_log`;]]></uninstallsql>
</mod>