<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type="text/css" href="http://frame.usualtool.com/image/css/xml.css"?>
<hook>
<id>kindeditor</id>
<type>Free</type>
<plugintype>1</plugintype>
<price>0.00</price>
<auther>官方</auther>
<title>KIND编辑器</title>
<pluginname>KIND编辑器</pluginname>
<ver>1.0</ver>
<description>KIND编辑器。</description>
<installsql><![CDATA[0]]></installsql>
<uninstallsql><![CDATA[0]]></uninstallsql>
<plugincode><![CDATA[
?>
<table width='100%' border='0' cellpadding="8" cellspacing='0' class='tablebasic' style="line-height:30px;" height=150>
<tr><td align=right>使用方法</td><td>
在需要编辑器的位置加入以下代码:<br>
模板语法：<{plugin=>kindeditor}><br>
脚本语法：&lt;?php UTInc::plugin("kindeditor");?&gt;
</tr>
</table>]]></plugincode>
</hook>