<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>authlogin</id>
<modtype>1</modtype>
<auther>官方</auther>
<title>第三方登录</title>
<modname>第三方登录</modname>
<ver>5.0</ver>
<description>第三方登录系统含微信扫码、公众号、腾讯QQ、微博等登录方式。</description>
<itemid>2</itemid>
<ordernum>39</ordernum>
<modurl>index.php</modurl>
<befoitem>auth_qq.php,auth_weibo.php,auth_wechat.php</befoitem>
<backitem>腾讯登录:index.php?l=qq,微博登录:index.php?l=weibo,微信登录:index.php?l=wechat</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_connect`;
CREATE TABLE `cms_connect` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `qq_appid` bigint(20) DEFAULT NULL,
  `qq_appkey` varchar(100) DEFAULT NULL,
  `qq_reurl` varchar(200) DEFAULT NULL,
  `wb_appid` bigint(20) DEFAULT NULL,
  `wb_appkey` varchar(100) DEFAULT NULL,
  `wb_reurl` varchar(200) DEFAULT NULL,
  `wx_appid` varchar(50) DEFAULT NULL,
  `wx_appkey` varchar(100) DEFAULT NULL,
  `wx_reurl` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_connect`;]]></uninstallsql>
</mod>