<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>forum</id>
<modtype>1</modtype>
<auther>黄豆</auther>
<title>UTForum</title>
<modname>UTForum</modname>
<ver>2.5.4</ver>
<description>基于UT框架的社区系统。</description>
<itemid>2</itemid>
<ordernum>92</ordernum>
<modurl>index.php</modurl>
<befoitem>index.php,list.php,login.php,my_admin_black.php,my_admin_forum.php,my.php,my_admin_set.php,my_admin_team.php,my_black.php,my_message.php,my_post_creat.php,my_post_edit.php,my_post_list.php,my_revebox.php,my_sendbox.php,my_user.php,post.php,post_admin.php,power.php,register.php,session.php,captcha.php</befoitem>
<backitem>使用方法:index.php</backitem>
<installsql><![CDATA[
DROP TABLE IF EXISTS `forum`;
CREATE TABLE IF NOT EXISTS `forum` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bid` int(11) NOT NULL DEFAULT '0',
  `forum_name` varchar(200) NOT NULL,
  `forum_icon` varchar(250) DEFAULT NULL,
  `forum_content` text,
  `forum_number` int(11) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_member`;
CREATE TABLE IF NOT EXISTS `forum_member` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utype` int(11) DEFAULT '0',
  `black` int(11) DEFAULT '0',
  `money` decimal(10,2) DEFAULT '0.00',
  `username` varchar(200) NOT NULL,
  `password` varchar(200) NOT NULL,
  `salts` varchar(50) NOT NULL,
  `avatar` varchar(250) DEFAULT NULL,
  `email` varchar(250) DEFAULT NULL,
  `fullname` varchar(150) DEFAULT NULL,
  `sex` int(11) DEFAULT '1',
  `telephone` varchar(30) DEFAULT NULL,
  `cardnumber` varchar(100) DEFAULT NULL,
  `openid` varchar(200) DEFAULT NULL,
  `other` text,
  `creattime` datetime NOT NULL,
  `lasttime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_member_log`;
CREATE TABLE IF NOT EXISTS `forum_member_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) DEFAULT '0',
  `ip` varchar(30) DEFAULT NULL,
  `content` text,
  `addtime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_message`;
CREATE TABLE IF NOT EXISTS `forum_message` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `look` int(11) NOT NULL DEFAULT '0',
  `senduid` int(11) NOT NULL,
  `reveuid` int(11) NOT NULL,
  `content` text,
  `sendtime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_payment`;
CREATE TABLE IF NOT EXISTS `forum_payment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `types` int(11) DEFAULT '1',
  `state` int(11) NOT NULL DEFAULT '0',
  `posnum` varchar(200) NOT NULL,
  `uid` int(11) NOT NULL DEFAULT '0',
  `pid` int(11) NOT NULL DEFAULT '0',
  `amount` decimal(10,2) NOT NULL,
  `addtime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_post`;
CREATE TABLE IF NOT EXISTS `forum_post` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) NOT NULL DEFAULT '0',
  `fid` int(11) DEFAULT '0',
  `hit` int(11) NOT NULL DEFAULT '1',
  `notice` int(11) DEFAULT '0',
  `ding` int(11) NOT NULL DEFAULT '0',
  `close` int(11) NOT NULL DEFAULT '0',
  `look` int(11) DEFAULT '0',
  `title` varchar(250) NOT NULL,
  `content` longtext NOT NULL,
  `payfiles` decimal(10,2) DEFAULT '0.00',
  `files` text,
  `downnum` int(11) NOT NULL DEFAULT '0',
  `tag` varchar(250) DEFAULT NULL,
  `ip` varchar(30) DEFAULT NULL,
  `posttime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_reply`;
CREATE TABLE IF NOT EXISTS `forum_reply` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) NOT NULL DEFAULT '0',
  `postid` int(11) NOT NULL DEFAULT '0',
  `replyid` int(11) DEFAULT '0',
  `content` longtext NOT NULL,
  `files` text,
  `ip` varchar(30) DEFAULT NULL,
  `replytime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_report`;
CREATE TABLE `forum_report` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) DEFAULT '0',
  `ptype` int(11) DEFAULT '0',
  `postid` int(11) DEFAULT NULL,
  `content` varchar(250) DEFAULT NULL,
  `addtime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `forum_set`;
CREATE TABLE IF NOT EXISTS `forum_set` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `rate` int(11) NOT NULL DEFAULT '10',
  `cookname` varchar(30) NOT NULL DEFAULT 'usualtool_',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
INSERT INTO `forum_member` (`id`, `utype`, `black`, `username`, `password`, `salts`, `avatar`, `email`, `fullname`, `sex`, `cardnumber`, `openid`, `other`, `creattime`) VALUES 
(1, 99999, 0, 'admin', '41635f645e9194175528278374b272f9d2ad5ba9', '2R6HY7', '/assets/images/noimage.png', 'test#test.com', 'Admin', 1, NULL, NULL, NULL, '2021-11-25 00:00:00');
INSERT INTO `forum_set` VALUES (1,10,'usualtool_');]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `forum`;DROP TABLE `forum_member`;DROP TABLE `forum_member_log`;DROP TABLE `forum_message`;DROP TABLE `forum_payment`;DROP TABLE `forum_post`;DROP TABLE `forum_reply`;DROP TABLE `forum_report`;DROP TABLE `forum_set`;]]></uninstallsql>
</mod>